* {
    box-sizing: border-box;
}

.header 
{
    grid-area: header;
    text-align: center;
    background-color: aqua;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;



}

.menu li {
  padding: 8px;
  margin-bottom: 7px;
  background-color: #33b5e5;
  color: #ffffff;
  
}
li a:hover
{
    background-color: #555555;
    color: Black;
}

body 
{
    font-family: Arial, fantasy, times;
    font-size: 20px;
    text-align: center;
}

.menu
{
    grid-area: menu;
    
}

.content
{
    grid-area: content;
    text-align: left;
}

.facts
{
    grid-area: facts;
    display: flex;
    justify-content: center;
    align-items: center;
    height: device-height;
}

.footer
{
    grid-area: footer;
}

.grid-container 
{
  display: grid;
  grid-template-areas:
  'header'
  'menu'
  'main'
  'content'
  'facts'
  'footer';
  gap: 10px;
}

img
{
    width: 75%;
    height: auto;
    justify-content: center;
}

iframe
{
     width: 75%;
    height: auto;
    align: center;
}

@media (max-width: 800px) {
  .header {grid-area: 1/ span 1;}
  .menu {grid-area: 2 / span 2;}
  .content {grid-area: 3 / span 4;}
  .facts {grid-area: 3 / span 6;}
  .footer {grid-area: 4 / span 6;}
}

@media (min-width: 1024px) {
  .header {grid-area: 1 / span 6;}
  .menu {grid-area: 2 / span 2;}
  .content {grid-area: 2 / span 4;}
  .facts {grid-area: 3 / span 6;}
  .footer {grid-area: 4 / span 6;}
}