* {
    box-sizing: border-box;
}

header 
{
    border: 2px solid black;
    text-align: center;
    background: aqua;
}



.Proyecto-Destacado
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: device-height;
}

section 
{
    text-align: center;
    align-content: center;
}

li 
{
    text-align: center;
    text-decoration-line: underline;
}

@media and (min-with: 1024px)
{
    body 
    {
        background-color: lightblue;
        font-family: Arial, fantasy, times;
    }
}

@media and (max-with: 768px)
{

}