* {
    box-sizing: border-box;
}

header 
{
    border: 2px solid black;
    text-align: center;
    background: aqua;
}

body 
    {
        font-family: Arial, fantasy, times;
    }

.Proyecto-Destacado
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: device-height;
}

section 
{
    text-align: center;
    align-content: center;
}

li 
{
    text-align: center;
    text-decoration-line: underline;
}

img
{
    width: 75%;
    height: auto;
    align: center;
}

iframe
{
     width: 75%;
    height: auto;
    align: center;
}

@media and (min-with: 1024px)
{

}

@media and (max-with: 768px)
{

}