* {
    box-sizing: border-box;
}

header 
{
    border: 2px solid black;
    text-align: center;
    background: aqua;
}

body 
    {
        background-color: #333;
        font-family: Arial, fantasy, times;
    }

.Proyecto-Destacado
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: device-height;
}

section 
{
    text-align: center;
    align-content: center;
}

li 
{
    text-align: center;
    text-decoration-line: underline;
}

.row
{
    display: flex;
    flex-warp: warp;
}

.main
{
    flex: 50%
}

.side
{
    flex: 50%
}

@media and (min-with: 1024px)
{
    body
    {
        backgroundcolor: yellow;
    }
    .row
    {   
    flex-direction: column;
    }
}

@media and (max-with: 768px)
{

}