* {
    margin: 1%;
    padding: 0.05%;
}

header {
    border: 2px black;
    text-align: center;
    background: aqua;
}

body 
{
    font-family: Arial, fantasy, times;
}

section {
    text-align: center;
    align-content: center;
}

li 
{
    text-align: center;
    text-decoration-line: underline;
}